{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="site-content">
    <h1>Your Groups</h1>
    <!-- Modal content - small window opens over groups view-->
    <button type="button" class="btn" data-toggle="modal" data-target="#myModal">Create a new group</button>
    <button type="button" class="btn"><a href="{{url_for('users.add_page')}}" class="button_link">Add member to a group</a></button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Group</h4>
                </div>
                <div class="modal-body">
                    <div>
                        {{ wtf.quick_form(form) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>You are part of the following groups:</h2>
    {% for group in groups %}
    <ul>{{group}}
    </ul>
    {% endfor %}
</div>

{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='groups.css')}}">
{% endblock %}