{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="site-content">
        <h1>These documents are gonna be merged:</h1>
        <iframe src="{{url_for('document.show_doc_content', file='6/lab_report_v6.txt') }}" height="400" width="50%"></iframe>
        <iframe src="{{url_for('document.show_doc_content', file='lab_report_s3.txt') }}" height="400" width="50%"></iframe>
        <div id="button_container">
            <a href="{{url_for('document.merge_result')}}">Merge!</a>
            
        </div>
    </div>
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='compare.css')}}">
{% endblock %}